INCLUDE("app_common.cfg");

#include "app.h"

DOMAIN(TDOM_APP) {
// main task
CRE_TSK(MAIN_TASK,  { TA_ACT , 0, main_task,     PRIORITY_MAIN_TASK,  STACK_SIZE, NULL });

// periodic task UPD_TSK
CRE_TSK(UPD_TSK, { TA_NULL, 0, update_task, PRIORITY_UPD_TSK, STACK_SIZE, NULL });
CRE_CYC(CYC_UPD_TSK, { TA_NULL, {TNFY_ACTTSK, UPD_TSK}, PERIOD_UPD_TSK, 0 });

}

ATT_MOD("app.o");
ATT_MOD("SRLF.o");
ATT_MOD("FIR.o");
ATT_MOD("FilteredMotor.o");
ATT_MOD("FilteredColorSensor.o");
ATT_MOD("Plotter.o");
ATT_MOD("PIDcalculator.o");